---

- name: Ensure the cache is up to date
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: "{{ package_upgrades_cache_valid_time }}"

- name: Ensure all packages are upgraded
  ansible.builtin.apt:
    upgrade: "{{ package_upgrades_apt_upgrade_type | default('full') }}"

- name: Autoremove unnecessary packages and optionally purge configs
  ansible.builtin.apt:
    autoremove: true
    purge: "{{ package_upgrades_purge | default(false) | bool }}"
  when: package_upgrades_autoremove | default(false) | bool

- name: Run apt-clean
  ansible.builtin.apt:
    clean: "{{ package_upgrades_clean | default(false) | bool }}"
  when: package_upgrades_clean | default(false) | bool
